.h1, .h1, .h2, .h3, .h4, .h5, .h6, a, h1, h2, h3, h4, h5, h6, p, span{
    margin: 0;
}

@mixin h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @include media-breakpoint-up(lg){
        font-size: 100px;
    }
}

h1, .h1{
    @include h1;
}